
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles%}
    <meta charset="UTF-8">
    <title>Upload Certificates</title>
</head>

<body>
        {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{% static 'css/style.css' %}">
        <link rel=stylesheet type=text/css href="{% static 'css/faq.css' %}">
        {% endblock %}
<h1>
Please Upload your certificate file here:
</h1>
<div clsss="container">
<div class="jumbotron" style="padding-top: 5px; padding-bottom: 15px">
	    <form method="POST" action=""> {% csrf_token%}
            {{form.as_p}}
            <p> The certificate is the json file</p>
		    <p> </p>
                    <input type="submit" value="Upload" >
            </form>
</div>
</div>

</body>
</html>