<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Certificates</title>
</head>

<body>
        {% block css %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        {% endblock %}
<h1>
Please Upload your certificate here:
</h1>
<div clsss="container">
<div class="jumbotron" style="padding-top: 5px; padding-bottom: 15px">
	    <form method="POST" action=""> {% csrf_token%}
            {{form.as_p}}
            <p> The certificate is the json file</p>
		    <p> </p>
                    <input type="submit" value="Verify">
            </form>
</div>
</div>

</body>
</html>